body{
   width:100%;
   min-height: 100vh;
   /*background-size: cover;*/
 }

footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
}
.container{
  margin-top:50px;
}
.dropdown-button{
  margin-top:30px;
}
.img img{
  width: 70%;
  height: 150px;
  margin-left: 150px;
}
